<!--begin::title-->
<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
	باشگاه مشتریان کتابفروشی فرهنگ
	<!--begin::توضیحات-->
	<span class="page-desc text-muted fs-7 fw-semibold pt-2">نسخه آزمایشی تحت وب : 02.06</span>
	<!--end::توضیحات-->
</h1>
<!--end::title-->