<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link" href="/Account/Logout">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">خروج از سیستم</span>
	</a>
	<!--end:menu link-->
</div>