<li class="menu-item">
	<a href="#" target="_blank" class="menu-link px-2">درباره ی ما</a>
</li>
<li class="menu-item">
	<a href="#" target="_blank" class="menu-link px-2">پشتیبانی</a>
</li>
<li class="menu-item">
	<a href="http://www.webnext.ir" target="_blank" class="menu-link px-2">
		طراحی و
		توسعه
	</a>
</li>