@{
	Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div id="kt_app_content_container" class="app-container container-xxl">
	<div class="row gy-5 g-xl-10">
		<!--begin::col-->
		<div class="col-xl-12 mb-xl-12">
			<!--begin::engage widget 1-->
			<div class="card bg-light-danger h-md-100" dir="rtl">
				<!--begin::body-->
				<div class="card-body d-flex flex-column flex-center">
					<!--begin::heading-->
					<div class="mb-2">
						<!--begin::title-->
						<h1 class="fw-bolder text-danger text-center lh-lg">
							کاربرگرامی: شما به محتوای این صفحه دسترسی ندارید.
							<br>
							<span class="fw-semibold text-gray-800 fs-5">
								جهت راهنمایی و پشتیبانی با <span class="fw-bolder fw-semibold text-danger"> مدیر سایت </span> تماس بگیرید.
							</span>
						</h1>
						<!--end::title-->
						<!--begin::illustration-->
						<div class="py-10 text-center">
							<img src="/assets/media/illustrations/sketchy-1/5.png" class="theme-light-show w-200px" alt="">
							<img src="/assets/media/illustrations/sketchy-1/5-dark.png" class="theme-dark-show w-200px" alt="">
						</div>
						<!--end::illustration-->
					</div>
					<!--end::heading-->
					<!--begin::links-->
					<div class="text-center mb-1">
						<!--begin::link-->
						<a class="btn btn-sm btn-danger me-2" href="/AdminArea/Home">بازگشت</a>
						<!--end::link-->
					</div>
					<!--end::links-->
				</div>
				<!--end::body-->
			</div>
			<!--end::engage widget 1-->
		</div>
		<!--end::col-->
	</div>
</div>