@using FarhangbookAPI.Models.ModelDTO;
@inject FarhangbookAPI.PublicClasses.ConvertDate convertDate

@{
	ViewData["Title:"] = "ورود به پنل کاربری | باشگاه مشتریان کتابفروشی فرهنگ";

}

<!--START - Alert Success-->
<div class="page-loader flex-column bg-dark bg-opacity-25">
	<span class="spinner-border text-primary" role="status"></span>
	<span class="text-gray-100 fs-5 mt-5 mt-5">سیستم در حال بررسی اطلاعات ...</span>
</div>
<!--END - Alert Success-->
<!--begin::احراز هویت - ورود -->
<div class="d-flex flex-column flex-lg-row flex-column-fluid">
	<!--begin::Body-->
	<div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
		<!--begin::Form-->
		<div class="d-flex flex-center flex-column flex-lg-row-fluid">
			<!--begin::Wrapper-->
			<div class="w-lg-500px p-10">
				<!--begin::Form-->
				<form method="post" action="/Account/Login" class="form w-100">
					@if (ViewBag.ErrorMessage != null)
					{
						<div class="alert alert-danger d-flex align-items-center p-5">
							<i class="ki-duotone ki-entrance-right fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
							<div class="d-flex flex-column">
								<h4 class="mb-1 text-danger d-flex text-center mb-3">@ViewBag.ErrorMessage</h4>
								<span class="text-dark">کاربرگرامی: لطفاً <span class="fw-semibold fw-bold text-danger"> نام کاربری </span> و <span class="fw-semibold fw-bold text-danger"> کلمه عبور </span> معتبری وارد نمایید.</span>
							</div>
						</div>
					}
					<!--begin::Heading-->
					<div class="text-center mb-11">
						<!--begin::Title-->
						<h1 class="text-dark fw-light flex-center fs-5 mb-5">سامانه باشگاه مشتریان<b class="fw-bolder"> کتابفروشی فرهنگ </b></h1>
						<!--end::Title-->
						<!--begin::Subtitle-->
						<div class="text-gray-500 fw-semibold fs-6 mb-5">نسخه تحت وب : 02.06</div>
						<!--end::Subtitle=-->
						<!--begin::Subtitle-->
						<div class="text-dark fw-bold fs-6 mb-5">نسخه سالیانه : 1403 - 1402</div>
						<!--end::Subtitle=-->
					</div>
					<!--begin::Heading-->
					<!--begin::Input group=-->
					<div class="fv-row mb-8">
						<!--begin::نام کاربری-->
						<input type="text" id="UserName" name="UserName" autocomplete="off" placeholder="نام کاربری" class="FEN form-control" />
						<!--end::نام کاربری-->
					</div>
					<!--end::Input group=-->
					<div class="fv-row mb-8">
						<!--begin::password-->
						<input type="password" id="Password" name="Password" autocomplete="off" placeholder="کلمه عبور" class="FEN form-control" />
						<!--end::password-->
					</div>
					<!--begin::ثبت button-->
					<div class="d-grid mb-10">
						<button type="submit" id="btnLoginSubmit" class="btn btn-primary hover-elevate-up">
							<!--begin::Indicator label-->
							<span class="indicator-label">ورود به پنل کاربری</span>
							<!--end::Indicator label-->
							<!--begin::Indicator progress-->
							<span class="indicator-progress">
								اطلاعات در حال بررسی ...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
							</span>
							<!--end::Indicator progress-->
						</button>
					</div>
					<!--end::ثبت button-->
					<!--begin::ثبت نام-->
					<div class="text-dark text-center fs-6"> تاریخ نگار : <b class="fw-bolder">@convertDate.ConvertMiladiToShamsi(DateTime.Now,"dddd d MMMM yyyy") </b></div>
					<!--end::ثبت نام-->
				</form>
				<!--end::Form-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Form-->
		<!--begin::Footer-->
		<div class="text-center mb-11">
			<div class="w-lg-500px d-flex flex-stack px-10 mx-auto mb-5">
				<!--begin::Languages-->
				<div class="me-10">
					<!--begin::Toggle-->
					<button class="btn btn-flex btn-link btn-color-gray-700 btn-active-color-primary rotate fs-base" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="0px, 0px">
						<img data-kt-element="current-lang-flag" class="w-20px h-20px rounded me-3" src="/assets/media/flags/iran.svg" alt="زبان فارسی">

						<span data-kt-element="current-lang-name" class="me-1">فارسی</span>

						<i class="ki-outline ki-down fs-5 text-muted rotate-180 m-0"></i>
					</button>
					<!--end::Toggle-->
					<!--begin::Menu-->
					<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-4 fs-7" data-kt-menu="true" id="kt_auth_lang_menu" style="">
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="#" class="menu-link d-flex px-5" data-kt-lang="English">
								<span class="symbol symbol-20px me-4">
									<img data-kt-element="lang-flag" class="rounded-1" src="/assets/media/flags/uk.svg" alt="زبان انگلیسی">
								</span>
								<span data-kt-element="lang-name">English</span>
							</a>
						</div>
						<!--end::Menu item-->
						<!--begin::Menu item-->
						<div class="menu-item px-3">
							<a href="#" class="menu-link d-flex px-5" data-kt-lang="فارسی">
								<span class="symbol symbol-20px me-4">
									<img data-kt-element="lang-flag" class="rounded-1" src="/assets/media/flags/iran.svg" alt="زبان فارسی">
								</span>
								<span data-kt-element="lang-name">فارسی</span>
							</a>
						</div>
						<!--end::Menu item-->
					</div>
					<!--end::Menu-->
				</div>
				<!--end::Languages-->
				<!--begin::Links-->
				<div class="d-flex fw-semibold text-primary fs-base gap-5">
					<a href="#" target="_blank">درباره ما</a>

					<a href="#" target="_blank">پشتیبانی</a>

					<a href="http://webnext.ir" target="_blank">طراحی و توسعه</a>
				</div>
				<!--end::Links-->
			</div>
		</div>
		<!--end::Footer-->
	</div>
	<!--end::Body-->
	<!--begin::کناری-->
	<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2" style="background-image: url(/assets/media/misc/auth-bg.jpg)">
		<!--begin::Content-->
		<div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
			<!--begin::Logo-->
			<!--end::Logo-->
			<!--begin::Image-->
			<!--end::Image-->
			<!--begin::Title-->
			<!--end::Title-->
			<!--begin::Text-->
			<!--end::Text-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::کناری-->
</div>
<!--end::احراز هویت - ورود-->
@section LoginScripts{
	<script>
		var button = document.querySelector("#btnLoginSubmit");
			button.addEventListener("click", function () {
			button.setAttribute("data-kt-indicator", "on");
			setTimeout(function () {
				button.removeAttribute("data-kt-indicator");
			}, 12000);
		});
	</script>
}
