<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu content-->
	<div class="menu-content">
		<span class="menu-section fs-5 fw-bolder ps-1 py-1">دسترسی سریع</span>
	</div>
	<!--end:menu content-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link active" id="kt_refresh_LoadingData" href="/AdminArea/">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">صفحه اصلی</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link" id="kt_refresh_MainInfo" href="/AdminArea/Users">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت کاربران</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link" id="kt_refresh_MainInfo" href="/AdminArea/Customer">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">مدیریت مشتریان</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link" id="kt_refresh_MainInfo" href="/AdminArea/TypeCustomer">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">دسته بندی مشتریان</span>
	</a>
	<!--end:menu link-->
</div>
<!--end:menu item-->
<!--begin:menu item-->
<div class="menu-item">
	<!--begin:menu link-->
	<a class="menu-link" id="kt_refresh_MainInfo" href="/AdminArea/GradeStudent">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">
			مدیریت پایه تحصیلی
		</span>
	</a>
	<!--end:menu link-->
</div>
<!--begin:menu item-->
