<a href="#" class="btn btn-icon btn-sm flex-shrink-0 h-40px w-40px bg-body"
   id="kt_docs_sweetalert_basic" data-bs-toggle="tooltip" title="ارسال پیامک به مشتریان">
	<i class="ki-outline ki-messages fs-1 text-primary"></i>
</a>
<!--begin::اصلی button-->
<a href="#" class="btn btn-flex btn-sm h-40px btn-primary">دسترسی سریع به داده ها</a>
<!--end::اصلی button-->